


@{
    Layout = null;
}
<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="icon" href="~/Content/logoServiceWeb/Logo_Service_Web-01.png" type="image/png" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<title>Service Web</title>
<style>
    html {
        background-color: white;
    }

    body {
        font-family: "Poppins", sans-serif;
        height: 100vh;
    }

    a {
        color: #92badd;
        display: inline-block;
        text-decoration: none;
        font-weight: 400;
    }

    h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        margin: 40px 8px 10px 8px;
        color: #cccccc;
    }

    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
    }

    #formContent {
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        text-align: center;
    }

    #formFooter {
        background-color: #f6f6f6;
        border-top: 1px solid #dce8f1;
        padding: 25px;
        text-align: center;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
    }


    /* TABS */

    h2.inactive {
        color: #cccccc;
    }

    h2.active {
        color: #0d0d0d;
        border-bottom: 2px solid #5fbae9;
    }



    /* FORM TYPOGRAPHY*/

    input[type=button], input[type=submit], input[type=reset] {
        background-color: #6FB353;
        border: none;
        color: white;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
            background-color: #6FB353;
        }

        input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
            -moz-transform: scale(0.95);
            -webkit-transform: scale(0.95);
            -o-transform: scale(0.95);
            -ms-transform: scale(0.95);
            transform: scale(0.95);
        }

    input[type=text] {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

        input[type=text]:focus {
            background-color: #fff;
            border-bottom: 2px solid #6FB353;
        }

        input[type=text]:placeholder {
            color: #cccccc;
        }


    input[type=password] {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

        input[type=password]:focus {
            background-color: #fff;
            border-bottom: 2px solid #6FB353;
        }

        input[type=password]:placeholder {
            color: #cccccc;
        }




    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }








    @@-webkit-keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }





    @@keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    /* Simple CSS3 Fade-in Animation */
    @@-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @@-moz-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .fadeIn {
        opacity: 0;
        -webkit-animation: fadeIn ease-in 1;
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
    }

        .fadeIn.first {
            -webkit-animation-delay: 0.4s;
            -moz-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        .fadeIn.second {
            -webkit-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }

        .fadeIn.third {
            -webkit-animation-delay: 0.8s;
            -moz-animation-delay: 0.8s;
            animation-delay: 0.8s;
        }

        .fadeIn.fourth {
            -webkit-animation-delay: 1s;
            -moz-animation-delay: 1s;
            animation-delay: 1s;
        }





    /* Simple CSS3 Fade-in Animation */
    .underlineHover:after {
        display: block;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 2px;
        background-color: #56baed;
        content: "";
        transition: width 0.2s;
    }

    .underlineHover:hover {
        color: #0d0d0d;
    }

        .underlineHover:hover:after {
            width: 100%;
        }


    /* OTHERS */

    *:focus {
        outline: none;
    }

    #icon {
        width: 60%;
    }
</style>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <input id="webserv" value="@System.Configuration.ConfigurationManager.AppSettings["webservice"]" style="display: none;" />
        <input id="ruta_actual" value="@System.Configuration.ConfigurationManager.AppSettings["ruta_actual"]" style="display: none;" />
        <div class="fadeIn first">
            <img src="~/Content/logoServiceWeb/logo_Service_web-04.svg" id="icon" alt="User Icon" />
        </div>


        <form id="form1_45" method="post" action="/Detalle/Index" class="login100-form validate-form">



            <div class="wrap-input100 validate-input m-b-23" data-validate="Se requiere correo de usuario">
                <span class="label-input100">Usuario</span>
                <input class="input100" type="text" name="UserName" id="UserName" placeholder="Escribe tu Nombre de usuario">
                <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Se requiere contraseña">
                <span class="label-input100">Contraseña</span>
                <input class="input100" type="password" name="Password" id="Password" placeholder="Escribe tu contraseña">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>



            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <input type="submit" class="fadeIn fourth" value="Login" />
                </div>
            </div>

        </form>




    </div>
</div>


<form id="form_isw" method="post" action="@System.Configuration.ConfigurationManager.AppSettings["ruta_actual1"]/Index_l12" style="display:none">
    <input name="UserId" id="UserId">
    <input name="TPersona" id="TPersona">
</form>




<script>
    var ws = $("#webserv").val();
    var ruta_actual = $("#ruta_actual").val();
    $(document).ready(function () {
        if (location.protocol !== 'https:') {
            location.replace(ruta_actual);
        } else {
            console.log("modificado el http  julieta");

        }
    });



    setTimeout(function () {
        $("#element").classList.toggle('paused');
    }, 2000);



</script>

<script type="text/javascript">


    function showToast1(type, css, mensaje) {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": css,
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "5000",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "3000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr[type](mensaje, 'Service Web');
    }





</script>




<script>

    document.getElementById('form1_45').addEventListener('submit', function (evt) {
        evt.preventDefault();
        var username = $("#UserName").val();
        var password = $("#Password").val();


        console.log(username);
        console.log(password);

        if (username != "" && password != "") {
            var url = ws + '/api/ValidarLoginWeb';
            console.log("ruta: " + url);

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                type: "get",
                url: url,
                data: { 'Usuario': username, 'Clave': password },
                success: function (data) {

                    console.log("valor: " + data.valor);

                    if (data.valor != null) {

                        var dat1 = JSON.stringify(data.valor);
                        console.log("lista1: " + dat1);

                        var dat2 = JSON.parse(dat1);
                        console.log("lista2: " + dat2);

                        $.each(dat2, function (index, item) {

                            var tipopersonawebid = item.TipoPersonaWebId;
                            console.log("tipo: " + tipopersonawebid);
                            //  alert(tipopersonawebid);

                            $("#UserId").val(item.UserId);
                            $("#TPersona").val(item.TipoPersonaWebId);
                            $("#form_isw").submit();
                        });


                    } else {
                        console.log("era null");
                        showToast1('error', 'toast-top-right', 'Datos Invalidos !!!');

                    }

                },
                error: function (xhr, status, error) {
                    showToast1('error', 'toast-top-right', 'Error al introducir los datos !!!');
                }
            });
        } else {
            showToast1('error', 'toast-top-right', 'Los campos no pueden estar vacios');

        }

    });

</script>
